#container{
    font-family: "굴림";
    font-weight: bold;
    color: #fff; /*글자 색 지정*/
    margin-top: 20px;
    
}
#nav{
    list-style: none;
    height: 60px;
    padding: 5px 1px;
    margin:0;
    background: rgba(66, 63, 63, 0.5);
}
#nav li{
   
    position: relative;
    margin: 5px 30px;
    padding: 0;
}

#nav li a{
    display: block;
    font-family: "굴림";
    font-weight: bold;
    font-size: 20px;
    padding: 7px 8px;
    margin: 0;
    color: #fff; /*글자 색 지정*/
    margin:0;
    text-decoration: none; /*글자의 밑줄 없애기*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);/* 글자에 그림자 삽입*/
}

.big { width:1300px; height:700px; background-color:rgba(206, 202, 202, 0.5); 
margin:auto; padding:50px;
}

.small { width:auto; height: 550px; background-color:rgba(66, 63, 63, 0.5); 
margin: auto;
}

.small2 { width:600px; height: 230px; background-color:rgba(66, 63, 63, 0.5); 
    }
.small3 { width:500px; height: 230px; background-color:rgba(66, 63, 63, 0.5); 
    }
.imgsertoku{
    float:left; margin-right: 20px; margin-top: 20px; margin-left:20px; clear:both;
    vertical-align: middle; 
}



#wrapper{
 border: 1px solid #ffbb00;
 width: 1054px;
 padding : 10px;
 position: absolute;
 top: 10px;
 left: 50%;
 margin-left: -533px;
 overflow: hidden; 
   
}

#contents{
    width: 550px;
    float: left;
    padding: 10px;
    background-color:rgba(66, 63, 63, 0.5);
}

#sidebar{

    width: 550px;
    float: left;
    padding: 10px;
    margin-left:10px;
    background-color:rgba(66, 63, 63, 0.5);
}

.main-container {
  
    margin: auto;
    display: grid;
    grid-template-columns: 680px 330px;
    grid-template-rows: 120px 310px 890px 130px;
    gap: 10px; /* 구역간의 간격 */
    background-color:rgba(206, 202, 202, 0.5);
    width:1300px; height:700px; 
    margin:auto; padding:50px;
  }

  
  .temp-box {
   
   
    font-size: 15px;
    border: 1px solid black;
    text-align: center;
    width:500px; height: 600px; background-color:rgba(66, 63, 63, 0.5);
  }
  .box-three {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    border: none; /* border를 지우고 3-1과 3-2에 각각 border를 적용해줍니다. */
  }
  .box-four {
    display: flex;
    flex-direction: column;
    border: none;
  }
