header0{/*header 1을 위한 PARTYPOOL 상단 글씨*/
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    text-shadow: 4px 2px 2px gray;
    display: flex;

    position: absolute;
    top:0;right:0;bottom:0;left:0;
    justify-content: center;
    margin: 55px;
}
header1{ /*헤더바*/
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;

    display: flex;
    height: 20px;
    padding: 1rem;
    font-weight: bold;
    font-size: medium;
    background:  rgba(66, 63, 63, 0.5);
    align-items: center;
}
nav{
    list-style: none;
}
nav li{
    float: left;
    
}

nav li a{
    z-index: 1;
    color: white;
    text-decoration: none;
}

p{/*일반 검정 글씨*/
    color:black;
    font-size: xx-large; 
    font-weight: bold;
}

container{/*내용물 박스 for header1*/
    position: absolute;
    top: 280px;
    left: 90px;
    right: 90px;
    height: 700px;

    display: block;
    text-align: center;
    justify-content: center;
    background: rgba(206, 202, 202, 0.5)
}
mainPageBox{/*시작화면, 회원 메인화면 박스 / container1 종속*/
    position:absolute;
    top: 120px;
    left: 30px;
    width: 46%;
    height: 400px;
    background: rgba(66, 63, 63, 0.5);
}

.selectionBox{/*select 형식 박스*/
    position: relative;
    display: inline;
    top: 50px;
    left: 30px;
    height: 40px;
    width: 100%;
    margin-right: 15px;
    border-radius: 8px;
    float:left;
    padding-left: 5px;
    background-color: white; 
}
map{/*지역 옆 지도*/
    position: absolute;
    display: flex;
    top: 120px;
    height: 400px;
    width: 45%;
    float:right;
    right: 30px;
    background: rgba(66, 63, 63, 0.5);
   
    justify-content: center;
    color: white;

}
.searchBtn{/*검색버튼*/
    position: absolute;
    display: flex;
    border-radius: 50px;
    background: rgba(206, 202, 202, 0.5);
    width: 50px;
    height: 40px;
    justify-content: center;
    border: none;
    padding-top: 5px;
}
