#container{
    font-family: "굴림";
    font-weight: bold;
    color: #fff; /*글자 색 지정*/
    margin-top: 20px;
    
}
#nav{
    list-style: none;
    height: 60px;
    padding: 5px 1px;
    margin:0;
    background: rgba(66, 63, 63, 0.5);
}
#nav li{
   
    position: relative;
    margin: 5px 30px;
    padding: 0;
}

#nav li a{
    display: block;
    font-family: "굴림";
    font-weight: bold;
    font-size: 20px;
    padding: 7px 8px;
    margin: 0;
    color: #fff; /*글자 색 지정*/
    margin:0;
    text-decoration: none; /*글자의 밑줄 없애기*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);/* 글자에 그림자 삽입*/
}

.big { width:700px; height:600px; background-color:rgba(206, 202, 202, 0.5); 
margin:auto; padding:50px;
}

.small { width:600px; height: 450px; background-color:rgba(66, 63, 63, 0.5); 
margin: auto;
}

.small2 { width:300px; height: 230px; background-color:rgba(66, 63, 63, 0.5); 
    }
.imgsertoku{
    float:left; margin-right: 20px; margin-top: 20px; margin-left:20px; clear:both;
    vertical-align: middle; 
}

