
header0{/*header 1을 위한 PARTYPOOL 상단 글씨*/
    position: relative;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
}
header1{ /*메인페이지, 시작화면 헤더바*/
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;

    display: flex;
    height: 20px;
    padding: 1rem;
    font-weight: bold;
    font-size: medium;
    background:  rgba(66, 63, 63, 0.5);
    justify-content: center;
    align-items: center;
    align-content: center;
    float: left;
}
nav{
    list-style: none;
}
nav li{
    float: left;
    margin: 60px;
}
nav li a{
    position: relative;
    z-index: 1;
    color: white;
    text-decoration: none;
    text-align: center;
}
span a{/*header2에 적용*/
    color: white;
    text-decoration: none;
    float:left;
    padding-left: 60px;
    padding-top: 4px;
}
header2{ /*header1 적용하지 않는 모든 페이지의 헤더바*/
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;

    display: block;
    font-weight: bold;
    height: 20px;
    padding: 1rem;
    background:  rgba(66, 63, 63, 0.5);
}
p{
    color:black;
    font-size: xx-large; 
    font-weight: bold;
}

container1{/*내용물 박스 for header1*/
    position: absolute;
    top: 280px;
    left: 90px;
    right: 90px;
    height: 700px;

    display: flex;
    text-align: center;
    justify-content: center;
    background: rgba(206, 202, 202, 0.5)
}
container2{/*내용물 박스 for header2*/
    position: absolute;
    top: 200px;
    left: 90px;
    right: 90px;
    height: 800px;

    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(206, 202, 202, 0.5)
}

mainPageBox{/*시작화면, 회원 메인화면 박스 / container1 종속*/
    position:absolute;
    top: 110px;
    left: 30px;
    right: 400px;
    height: 500px;
    background: rgba(66, 63, 63, 0.5);
}
leftSearchBox{/*파티룸 검색 화면 왼쪽 박스*/

}
rightSearchBox{/*파티룸 검색 화면 오른쪽 박스*/

}
descriptionBox{/*파티룸 정보란*/

}
reservationBox{/*예약정보 입력란*/

}
