<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CheckReservation_Customer</title>
    <link rel ="stylesheet" href="../static/style_customer.css"/>
    <script src="PopUp.js"></script>
    <style>
    body{
        background: #0E0C0A;
        background-image: url("../static/img/party.png");
        background-size : cover ;
        overflow:auto;
    }
    </style>
</head>
<body>
    <header0>
        <nav>
            <li><a href = "StartPage.html">PARTYPOOL</a></li>
        </nav>
    </header0>
    <header1 style="display:block;">
        <nav style="padding-top:2px;">
            <li><a href = "StartPage.html" style="padding-left:60px;">흠으로</a></li>
            <li style="float:right;"><a href = "StartPage.html" style ="padding-right: 65px;">로그아웃</a></li>
        </nav>
    </header1>
    
</body>
    <container>
        <p style="padding-top: 15px; align-items: center;" >예약 확인</p>
    </container>
</html>
