<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SignUpPage</title>
    <link rel ="stylesheet" href="../css/style_customer.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../js/PopUp.js"></script>
    <style>
    body{
        background: #0E0C0A;
        background-image: url("../img/party.png");
        background-size : cover ;
        overflow:auto;
    }
    
    .input1{/*회원가입 박스*/
        width: 300px;
        height: 30px;
        border-radius: 5px;
    }
    .input2{/*버튼*/
        width: 100px;
        height: 35px;
        border-radius: 5px;
        background: lightgray;
    }
    .input3{/*버튼*/
        width: 80px;
        height: 30px;
        border-radius: 10px;
        background: lightgray;
    }
    </style>
</head>
<body>
    <header0>
        <nav>
            <li><a href = "/">PARTYPOOL</a></li>
        </nav>
    </header0>
    <header1>
        <nav>
            <li><a href = "/" style="padding-left:60px;">흠으로</a></li>
        </nav>
    </header1>

    <container style="height:800px">
    <form name="SignUp" action="/signup" method="post">
    <div>
        <p style="padding-top: 20px;">STEP 1 : 당신은 호스트인가요 회원인가요?</p>
        <img src="../img/host.png" alt="Host" width="100" height="100" style="padding-right: 50px;">
        <img src="../img/customer.png" alt="Customer" width="100" height="100"style="padding-left: 50px;">
        <div style="word-spacing: 165px">
            <span style="font-size: medium; font-weight: bold;">호스트</span>
            <span style="font-size: medium;font-weight: bold; padding-right: 7px;">회원</span>
        </div>
        <!--Radio Buttons-->

        <label><input type="radio" name ="UserType" value ="Host" style="margin-right:95px"></label>
        <label><input type="radio" name ="UserType" value ="Customer"style="margin-left:92px"></label>

    </div>
    <div>
        <br>
        <p>STEP 2 : 아이디와 비밀번호를 입력하세요</p>
        <div style="float:left; text-align:left; padding-left: 35%;margin-left:4%">
                <p style="font-size: medium;">아이디<br>
                <input class="input1" type="text" name = "user_ID" id="user_ID" placeholder="아이디 입력" >
                </p>
                <p style="font-size: medium;">비밀번호<br> 
                <input class="input1" type="password" name = "user_PW1" id="user_PW1" placeholder="비밀번호 입력">
                </p>
                <p style="font-size: medium;">비밀번호 재확인<br> 
                <input class="input1" type="password" name="user_PW2" id="user_PW2" placeholder="비밀번호 재입력">
                <input class="input2" type="button" name = "user_PWcheck" id="user_PWcheck" value="비밀번호 확인" onclick="checkPW();"> 
                </p>
            <script type="text/javascript">
                function checkPW() {
                  var p1 = document.getElementById('user_PW1').value;
                  var p2 = document.getElementById('user_PW2').value;

                  if(p1.length < 6) {
                          alert('비밀번호는 6글자 이상이어야 합니다.');
                          return false;
                  }

                  if( p1 != p2 ) {
                    alert(" 비밀번호가 일치하지 않습니다!\n 다시 한번 확인해주세요.");
                    return false;
                  } else{
                    alert(" 비밀번호가 일치합니다!\n 회원가입을 완료해주세요.");
                    return true;
                  }
            }
          </script>
        </div>
    </div>
    <br><br> <br><br><br><br><br><br><br><br><br><br>
        <p style="font-size: medium;">이미 회원이십니까?
        <a href = "/login"><input class="input3" type="button" id="Login"  value="로그인"></a></p>
        <br>
        <div style="float:right; padding-right: 10%; font-size: large;">
            <input class="input3" type="submit" id="SignUpComplete" value="완료">
        </div>
    </form>>
    </container>
</body>
</html>
